.album-header-container {
    height: max-content;
    display: flex;
    width: 100vw;
    height: 25vw;
}

.album-header-photo {
    position: relative;
    float: left;
    overflow: hidden;
    border-radius: 20px;
    padding: 2rem 2rem 0 2rem;
}

.album-header-words {
    float: left;
    overlay: hidden;
    padding: 13vw 0 0 1rem;
    position: relative;
}

.album-header-title {
    font-size: 5vw;
}

.album-header-description {
    padding-top: 2rem;
}

@media screen and (max-width: 750px) {
    .album-header-container {
        height: max-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .album-header-words {
        padding-top: 1rem;
    }

    .album-header-title {
        font-size: 5vw;
    }

    .album-header-description {
        padding-top: 1rem;
    }

    .album-header-photo {
        padding: 2rem 2rem 0rem 2rem;
        height: 60vw;
        width: 65vw;
    }
}