.song-container {
    padding: 1rem;
    background-color: #393939;
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
}

.song-name {
    float: left;
    padding: 1rem 2rem 0 0;
    width: 200px;
    text-overflow: hidden;
    white-space: nowrap;
    position: relative;

}

h2:hover {
    animation: scroll-text 3s linear infinite;
    overflow: visible;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

h2 {
    /* border: 2px red solid; */
    text-overflow: hidden;
    overflow: hidden;
}

.song-audio {
    margin-left: 1rem;
}