.header-container {
    background-color: #cecbc7;
    /* padding: 20px; */
}

.header-container h1 {
    position: relative;
    float: left;
    left: 18%;
    font-size: 3rem;
    padding-top: 2rem;
}